{{#extends 'base'}}

{{#block 'content'}}

<form method="POST">
    <div class="row">
        <div class="col-3">
            <select class="form-select" name="code">
                <option selected>Select a country</option>
                {{#each countryCode}}
                <option value="{{@key}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-2">
            <input type="submit" class="btn btn-secondary" value="Search"/>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-12">
        {{result}}
    </div>
</div>
{{/block}}

{{/extends}}